/**
 * @file
 * Main Catalog sub-theme styling.
 */

.is-views-page #breadcrumb,
.is-views-page #section-main-navigation,
.is-views-page #section-main {
  max-width: 1600px;
}

#student-catalog-img-bg {
  height: 20vw;
  min-height: 300px;
  background-image: url("../images/book-hand-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}

#faculty-catalog-img-bg {
  height: 20vw;
  min-height: 300px;
  background-image: url("../images/book-hand-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}

/* Issue #6579 temporary fix for homepage layout paragraphs. */

.path-frontpage .node__content {
  max-width: 1400px;
  margin: 0 auto;
}

.path-frontpage .layout__region .paragraph {
  padding: 0 1em;
}

.path-frontpage .layout__region--bottom .paragraph {
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}

#block-loginlinksblock {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

#block-loginlinksblock p {
  display: inline-block;
  margin: 0 2em 0 0;
}

#block-hfccatalogcontenttypehelp {
  padding: 5px 4px 8px;
  color: #000;
  background: #80eb6f;
}

#block-hfccatalogcontenttypehelp .item-list ul {
  margin: 0;
  list-style-type: none;
}

#block-hfccatalogcontenttypehelp .item-list li {
  margin: 0;
}

.notice-box-med-info {
  margin: 0.5em 0;
  padding: 1em;
  color: #fff;
  background-color: #0054a6;
}

.notice-box-med-info a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.notice-box-med-info a:hover,
.notice-box-med-info a:focus {
  color: #002d5b;
}

.catalog-yellow-warning {
  margin: 1em 0 1em 0;
  background: #fff000;
}

a.hfc-button {
  text-shadow: none;
}

.map {
  overflow: auto;
  padding: 2em;
  background: #dedede;
}

.field--name-field-effective-term {
  margin-top: 1em;
}

.gen-ed-requirements > .field--name-field-program-gen-ed-cred {
  margin: 0 0 1.5em;
}

.field--name-field-program-rqcor-list {
  margin: 0 0 1.5em 0;
}

/* Tables */

td.course-description {
  width: 80%;
}

table.recently-added-sections td.sec-add-date {
  font-weight: bold;
}

table.learning-outcome-map td.outcome-course-mapping,
table.learning-outcome-map td.outcome-review-year {
  text-align: center;
}

table.learning-outcome-map td.outcome-description {
  width: 90%;
}

/* Views */

.view-program-masters td {
  vertical-align: top;
}

.views-field-edit-node {
  white-space: nowrap;
}

.view-program-sequence-contact-eva > footer {
  padding-top: 1em;
}

.gen-ed-list th {
  white-space: nowrap;
}

.gen-ed-list td.views-field-title {
  width: 85%;
}

.view-technology-investment-fund .views-field-field-effective-term,
.view-technology-investment-fund .views-field-field-funding-board-report,
.view-technology-investment-fund .views-field-field-funding-final-report {
  white-space: nowrap;
}

/* Paragraphs */

.paragraph--type--program-sequence-semester,
.paragraph--type--rti-courses {
  padding: 2em 0 0 0;
}

.paragraph--type--program-sequence-semester .field--name-field-sequence-semester,
.paragraph--type--rti-courses .field--name-field-rti-text {
  font-size: 1.17em;
}

/*
 * Styling for Program Learning Outcomes (PLOs)
 */

.paragraph.paragraph--type--program-learning-outcomes.paragraph--view-mode--default h3 {
  margin-bottom: 0;
}

.paragraph.paragraph--type--program-learning-outcomes.paragraph--view-mode--default h3:after {
  display: inherit;
  width: 100%;
  height: 0.5em;
  margin-right: -100%;
  content: "";
  vertical-align: bottom;
  border-bottom: 1px solid #262729;
}

@media only screen and (max-width: 700px) {

  #billboard .highlight-banner h1 {
    font-size: 1.5em;
  }

  #block-archiveandadvising .gallery-container {
    display: block;
  }

  #block-archiveandadvising .gallery-item {
    padding: 0;
  }

  #block-archiveandadvising .gallery-item ul {
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 1100px) {

  .map .left {
    float: left;
    width: 30%;
    margin: 0 !important;
  }

  .map img {
    float: right;
    width: 50%;
    padding: 0 0 0 2em;
  }

  .field--name-field-grading-scale {
    max-width: 40em;
  }

}
