/**
 * @file
 * collapsible.css
 *
 * Adds support for collapsible paragraphs.
 */

.paragraphs-item-collapsible-paragraphs {
  margin-bottom: 0.5em;
}

/* Title field (clickable header) */

.field--name-field-collapsible-title {
  width: 100%;
  margin: 0.25em auto 0.25em auto;
  padding: 0.5em;
  padding-right: 2em;
  cursor: pointer;
  border: 2px solid #262729;
  font-weight: bold;
}

.field--name-field-collapsible-title > h1,
.field--name-field-collapsible-title > h2,
.field--name-field-collapsible-title > h3,
.field--name-field-collapsible-title > h4,
.field--name-field-collapsible-title > h5,
.field--name-field-collapsible-title > h6 {
  margin: 0;
  padding: 0;
}

.field--name-field-collapsible-title.expand-plus,
.field--name-field-collapsible-title.collapse-minus {
  border: 4px solid #262729;
}

.field--name-field-collapsible-title.expand-plus:focus,
.field--name-field-collapsible-title.collapse-minus:focus,
.field--name-field-collapsible-title.expand-plus:active,
.field--name-field-collapsible-title.collapse-minus:active {
  border: 4px double #262729;
}

/* Collapsible content */

.node__content__collapsibile {
  display: none;
  width: 100%;
  margin-top: 0;
  padding: 1em;
  border-right: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
}

/* Plus/Minus icons */

.expand-plus {
  padding-right: 45px;
  background-image: url("../images/plus-icon-square-black-transparent.svg");
  background-repeat: no-repeat;
  background-position-x: 99.5%;
  background-position-y: center;
  background-size: 1.5em 1.5em;
}

.collapse-minus {
  display: inline-block;
  padding-right: 45px;
  color: #fff;
  border: 2px solid transparent;
  background-color: #262729;
  background-image: url("../images/minus-icon-square-white-transparent.svg");
  background-repeat: no-repeat;
  background-position-x: 99.5%;
  background-position-y: center;
  background-size: 1.5em 1.5em;
}

/* Open all/Close all buttons */

.collapsible-buttons {
  position: fixed;
  z-index: 99;
  bottom: 10px;
  left: 10px;
}

.hfc-open-all,
.hfc-close-all {
  display: inline-block;
  margin: 0.4em 0.4em 0.4em 0;
  padding: 0 0.8em;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #262729;
  background-color: #fff;
  font-weight: bold;
}

.hfc-open-all:hover,
.hfc-close-all:hover,
.hfc-open-all:focus,
.hfc-close-all:focus,
.hfc-open-all:active,
.hfc-close-all:active {
  color: #fff;
  border: 2px solid transparent;
  background-color: #262729;
}
