/**
 * @file
 * Catalog sub-theme print styling.
 */

.view-print-catalog .views-row {
  display: block;
  position: relative;
  page-break-after: always;
}

.view-print-catalog-courses .views-row {
  display: block;
  position: relative;
  page-break-inside: avoid;
}

body {
  font-size: 1em;
  font-family: Open Sans,Arial,sans-serif;
}

html,
body {
  border: 1px solid white;
  height: 99%;
  page-break-after: avoid;
  page-break-before: avoid;
}

#block-hfccatalogcontenttypehelp {
  display: none;
}
