{#
/**
 * @file
 * Theme override to display field_k12_transfer_courses paragraphs as a table.
 *
 * @see paragraph--k12-transfer-courses.html.twig
 * @see field--paragraph--field-secondary-course--k12-transfer-courses.html.twig
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% endif %}
  <table{{ attributes.addClass(classes) }}>
    <tr>
      <th>Secondary Course(s)</th>
      <th>HFC Transfer Credit Awarded</th>
      <th>HFC Requirement(s) or Required Course(s)</th>
    </tr>
    {% for item in items %}
      {# @todo Remove this once CSS uses nth-child. #}
      {% set zebra = cycle(['odd', 'even'], loop.index0) %}
      <tr{{ item.attributes.addClass(zebra) }}>{{ item.content }}</tr>
    {% endfor %}
  </table>
  {# We might want to move this to configuration at some point. #}
  <hr>
  <p>“Secondary Articulated Credit“ is credit that is awarded to students who have taken courses at a partner High School or Career Technical Education (CTE) program for specific coursework that has been completed based on HFC requirements. Any credit granted beyond HFC will be at the sole discretion of the institution you are transferring to.</p>
  <p><strong>Secondary Course(s):</strong> Course(s) you take at an HFC partner High School or CTE program that have been evaluated by HFC Faculty and are considered equivalent to HFC transfer credit.</p>
  <p><strong>HFC Transfer Credit Awarded:</strong> The course or credit that will be awarded to you, as a student at HFC, for taking the designated course(s) at the High School or CTE program. This credit will be awarded after your application is submitted, approved, and HFC requirements have been met.</p>
  <p><strong>HFC Requirement(s) or Required Course(s):</strong> The requirement that must be met or course(s) that need to be taken in order for HFC Transfer Credit to be awarded to you.</p>
</div>
