{#
/**
 * @file
 * Theme override to display field_secondary_course values as an unordered list.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
  ]
%}
<div class='item-list'>
  <ul{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      <li{{ item.attributes.addClass('field__item') }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
</div>
