{#
/**
 * @file
 * Theme implementation to display a node for the Catalog Archive.
 *
 * @see core/modules/node/templates/node.html.twig
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</article>
