{#
/**
 * @file
 * Theme implementation to display a k12 transfer course paragraph as a table row.
 *
 * @see field--field-k12-transfer-courses.html.twig
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <td>
    {{ content.field_secondary_course}}
  </td>
  <td>
    {{ content.field_hfc_course}}
  </td>
  <td>
    {{ content.field_other_requirements }}
    {{ content.field_k12_required_hfc_courses }}
  </td>
{% endblock paragraph %}
